<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key = "StageUrl" value = "https://castello-tie.cmsstage.com/en" />
    <add key = "RecipeOverview" value = "/recipes" />
    <add key = "TestRdbApiUrl" value = "https://api-testrdb.arla.com" />
    <add key = "AllRecipes" value = "/castello-en/recipelists/1081670954" />
    </appSettings>
</configuration>